body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(to bottom, red, blue); 
}

body::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(to bottom, yellow, green); 
    z-index: -1; 
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-grow: 1; 
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1; 
}

.insidebox1, .insidebox2 {
    background-color: white;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 0 1rem;
    
    width: 45%; 
    min-width: 290px; 
    max-width: 900px; 
    
    min-height: 400px; 
    max-height: 1000px; 
    height: auto;
}

footer {
    text-align: center;
    background-color: hwb(44 25% 44%);
    padding: 3rem 0;
    border-top: 0px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10; 
}
